:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.title {
  text-align: center;
  align-items: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table_div {
  background: #dddddd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.img-close {
  float: inline-end;
  padding: 16px;
  cursor: pointer;
}

.action_toggle {
  background: none !important;
  border: none !important;
  padding: 0px !important;
  text-align: center !important;
}

.image {
  align-items: center !important;
}
